@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{margin: 0; font-family: 'Roboto', sans-serif; font-size: 14px; display: flex;}
aside{display: flex; background-color: $menuColor; width: 300px; min-height: 100%; position: fixed; top: 0; left: 0; opacity: 0.6; z-index: 2;
  > div:nth-child(2){width: calc(100% - #{$menuBreadcrumbs}); border-right: solid 5px darken($menuColor, 5%);
    > div{height: $heightMenuTitle; background-color: darken($menuColor, 3%); text-align: center;
      p{margin: 0; padding-top: calc(#{$heightMenuTitle - $defaultHeightTitle} / 2); color: lighten($menuColor, 17%); font-size: $defaultHeightTitle;}
    }
  }
}

#menuBar{list-style: none; padding: 0; margin: 0; width: 100%;
  li{margin: 0; width: 100%;
    a{text-decoration: none; color: lighten($menuColor, 17%); width: calc(100% - #{$leftBorderMenu + $spaceBetweenMenu}); display: table;
      padding: 20px 0 20px $spaceBetweenMenu; border-left: $leftBorderMenu solid $menuColor;
      i:nth-child(1){@include awesomeIcon; float: left;}
      span:nth-child(2){display: block; width: $menuWidthSecondElem; color: lighten($menuColor, 30%);
        float: left; padding-top: calc(#{$menuWidthLink} / 2);}
      &:focus{border-color: darken($secondMenuColor, 13%); transition: 0.5s; background-color: darken($menuColor, 8%) !important;
        > span:nth-child(2){color: lighten($menuColor, 40%) !important;}
      }
    }
    &:hover{
      a{border-color: $secondMenuColor; background-color: lighten($menuColor, 8%);
        > span:nth-child(2){color: lighten($menuColor, 30%);}
      }
    }
  }
}

#menuBreadcrumbs{@include gradient(lighten($menuColor, 6%), lighten($menuColor, 17%), background, bottom);
  width: $menuBreadcrumbs; font-size: $defaultFontSize; overflow: hidden;
  ul{list-style: none; display: inline-block; white-space: nowrap; margin: 0; padding: 10px 0;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    li{display: inline; width: 100%;
    +li:before{color: $menuColor; content: ""; height: #{$menuBreadcrumbs - 10px}; width: 2px; background-color: $menuColor;
     display: inline-block; position: relative; top: 5px;}
    &:after{margin-top: 100%; float: left; content: "";}
      a{text-decoration: none; color: darken(lighten($menuColor, 17%), 20%); transition: 0.3s;
      &:hover{color: #FFF;}
      span{padding: 0; display: inline-block;
        &:first-child{border: none; position: relative; top: calc(#{- $menuBreadcrumbs / 2} + #{$defaultFontSize}); margin: 0 10px;}
      }
      }
    }
  }
}

#container{@include gradient(darken($containerColor, 6%), darken($containerColor, 27%), background-image, bottom);
  width: 100%; min-height: 100%;
  nav{width: 100%; background-color: darken($containerColor, 10%); height: $heightContainerNav; border-bottom: solid 1px darken($containerColor, 15%);}
  footer{width: 100%; background-color: darken($containerColor, 20%); height: 60px; position: absolute; bottom: 0;}
  section{width: 96%; margin: $marginContainer 1%;
    article{height: calc(90% - #{2 * $marginContainer + $heightContainerNav}); opacity: 0.7;
      &:nth-child(1){width: 32%; float: left;
        div{height: 47.5%; background-color: $auxBoxContainer;
          border-left: 4px solid lighten($containerColor, 30%);
          &:first-child{margin-bottom: 5%;}
        }
      }
      &:nth-child(2){width: 62%; float: right;
        >div:nth-child(1){height: $divHeightAvatarList; width: 100%; padding: 0 10px; @include spanAvatar;
        }
      }
    }
  }
}

#taleBox{margin-top: $marginTopTaleBox; overflow: auto; height: calc(100% - #{$divHeightAvatarList + $marginTopTaleBox});
  >div{width: 85%; display: table;
    >div{@include spanAvatar; padding:10px; width: $avatarLenght; float: left;
      &:nth-child(2){width: calc(100% - 100px);
        div{background-color: $rbgaTaleBackground; padding: 10px;
          +div{margin-top: 10px;}
        }
      }
      p{margin: 0; color: lighten($containerColor, 55%);}
    }
    +div{margin-top: 15px;}
  }
}

.otherBox{float: right;
  >div{float: right !important;
    span{float: right;}
    >div{float: right !important;}
  }
}

.thoughtBox{font-style: italic;
  p{color: lighten($containerColor, 25%) !important;}
}

.behaveBox{font-style: oblique;
  p{color: lighten($containerColor, 5%) !important;}
}
