@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	margin: 0px; background-color: #000;
	font-family: 'Roboto', sans-serif;
}
.container{
	> section{
		display:flex;
	}
}
aside{width: 80px; background-color: $bgColorDefault; position:fixed; top: 0; left: 0; height: 100%; opacity: 0; transition: 0.5s; z-index: 10; border-right: 4px solid $bgColorPanel;
	> ul{list-style-type: none; margin: 0; padding: 0;
		li{margin: 30px auto 10px; display: block; width: 60px; border-radius: 30px; background-color: transparent; transition:0.3s; height: 60px;
			div{top:2px; left: 2px; display: block; width: 56px; border-radius: 28px; background-color: $bgColorDefault !important; height: 56px; position: relative;
				span{width: 56px; height: 56px; display: block;}
			}
		}
		li:nth-child(1){
			div{background: url("../img/settings_white.png") center no-repeat;
				span:hover{background: url("../img/settings_green.png") center no-repeat;}
			}
		}
		li:nth-child(2){
			div{background: url("../img/text_file_white.png") center no-repeat;
				span:hover{background: url("../img/text_file_green.png") center no-repeat;}
			}
		}
		li:nth-child(3){
			div{background: url("../img/data_transfer_white.png") center no-repeat;
				span:hover{background: url("../img/data_transfer_green.png") center no-repeat;}
			}
		}
		li:nth-child(4){
			div{background: url("../img/clouds_white.png") center no-repeat;
				span:hover{background: url("../img/clouds_green.png") center no-repeat;}
			}
		}
		li:hover{background-color: $defaultColor; transition:0.3s;}
	}
}
aside:hover{opacity: 1; transition: 0.5s;

}
#manga_container{
	width:800px; min-height:60px; background-color: $mangaContainer; transition: 0.5s; margin: 100px auto 0; border: 4px solid $bgColorDefault; z-index: 5; overflow: hidden;
	> div:nth-child(1){width: 100%; max-height: 500px; overflow-y: hidden;
		> img{display: block; margin: 0 auto; max-width: 100%; height: auto;}
		&:hover{ overflow-y: scroll;};
	}
	> div:nth-child(2){ opacity: 0; transition: 1s; 
		width: 100%; height: 60px; background-color:$bgColorPanel; position: relative; display: block; margin-top: -60px; float: left;
		> div{width: 800px; margin: 0 auto; display: flex;
			span{
				width:50px; height: 46px; padding: 5px; background-color: transparent;
				border-width: 4px 0 0 0; border-style: solid; border-color: $bgColorPanel;
				display: block; float:left; transition: 0.5s;
			};
			span:hover{
				border-color: $iconBgColor; transition: 0.5s;
			};
			span:nth-child(1){
				background: url("../img/x-left.png") center no-repeat; margin-right: 62.5px;
				&:hover{
					background: url("../img/x-left_green.png") center no-repeat;
				}
			}
			span:nth-child(2){
				background: url("../img/left.png") center no-repeat; margin: 0 62.5px;
				&:hover{
					background: url("../img/left_green.png") center no-repeat;
				}
			}
			span:nth-child(3){
				background: url("../img/expand.png") center no-repeat; margin: 0 62.5px;
				&:hover{
					background: url("../img/expand_green.png") center no-repeat;
				}
			}
			span:nth-child(4){
				background: url("../img/right.png") center no-repeat; margin: 0 62.5px;
				&:hover{
					background: url("../img/right_green.png") center no-repeat;
				}
			}
			span:nth-child(5){
				background: url("../img/x-right.png") center no-repeat; margin-left: 62.5px;
				&:hover{
					background: url("../img/x-right_green.png") center no-repeat;
				}
			}
		}
		&:hover{opacity: 0.7; transition: 1s; z-index: 12;};
	};
}

.menuWindown{width: 100%; position: absolute; z-index: 6; position: absolute; top: -600px; opacity: 0; transition: 1s;
	> div{display: table; margin: 200px auto 0; background-color: $bgColorPanel;}
}

#loadFile{
	article{display: table; background-color: $bgColorDefault; padding: 0; margin: 0; border-top: 10px solid $bgColorPanel;
		div{float: left; margin: 0 auto;
			input[type="file"]{opacity: 0; display: block; float: left; width: 100px; height: 28px; padding: 14px 20px; position: absolute; z-index: -1;}
			label{width: 140px; display:block; float: left; padding: 20px; height: 18px; color: #FFF; cursor: pointer; transition: 0.5s;
				&:hover{
					background-color: $iconBgColor; transition: 0.5s;
				}
			}
		}
		> a{display: block; width: 48px; height: 58px; float: left; padding: 0 10px; 
			background: url("../img/view.png") center no-repeat; transition: 0.5s;
			&:hover{
				background-color: $iconBgColor; transition: 0.5s;
			}
		}
	}
}

.container_focus{top: 0 !important; opacity: 1 !important; transition: 1s;}

.fullscreen{
	width: 100% !important; height: 100% !important; position: fixed; transition: 0.1s !important; margin: 0 !important;
	> div{
		position: absolute !important; bottom: 0px;
		> div {
			span:nth-child(3){
				background: url("../img/fullscreen-exit.png") center no-repeat !important; margin: 0 62.5px;
				&:hover{
					background: url("../img/fullscreen-exit-green.png") center no-repeat !important;
				}
			}
		}
	}
}